.popup {
  position: relative;
}
.popup__element {
  position: absolute;
  top: 25px;
  transform: translateX(-75%);
}
.popup__element--smooth {
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
